// MARK: Variables

:root.light-mode {
    --foreground: #222222;
    --background: #eeeeee;
    --secondary: gray;
    --tertiary: #dddddd;
    --accent: #3d3cba;
}

:root.dark-mode {
    --foreground: #eeeeee;
    --background: #161616;
    --secondary: #999999;
    --tertiary: #444444;
    --accent: #959bf0;
}


// MARK: Light/dark config

html {
    &.light-mode {         
        #dark-mode-on {
            display: inline;
        }
        #dark-mode-off {
            display: none;
        }
    }

    &.dark-mode {
        #dark-mode-on {
            display: none;
        }
        #dark-mode-off {
            display: inline;
        }
    }
}

.dark-mode-buttons {
    position: absolute;

    top: 1em;
    right: 1em;
}

.dark-mode-button {
    border: none;
    background-color: transparent;

    &:hover {
        cursor: pointer;
    }
}



// MARK: Styles

body {
    color: var(--foreground);
    background-color: var(--background);
}

.secondary {
    color: var(--secondary);
}

a, a:link, a:visited {
    color: var(--accent);
}

a:hover {
    color: color-mix(in hsl, var(--accent) 30%, black);
}

blockquote {
    border-left: 2px solid var(--secondary);
}

code {
    background-color: var(--tertiary);
}

pre code {
    background-color: transparent;
}

.footnote-definition sup {
    color: var(--secondary);
}

table {
    th, td {
        border-color: color-mix(in hsl, var(--tertiary) 5%, black);
    }

    thead, tr:nth-child(even) {
        background-color: color-mix(in hsl, var(--tertiary) 10%, white);
    }
}
