@import "theme";

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;

    line-height: 1.3em;

    padding: 5em 25%;
}

.header-links {
    a {
        margin-right: 0.5em;
    }

    a:last-of-type {
        margin-right: 0;
    }
}

.space {
    margin-bottom: 2em;
}

.doublespace {
    margin-bottom: 4em;
}

.small {
    font-size: 75%;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.25;
}

img {
    max-width: 100%;
}

blockquote {
    margin-left: 0;
    padding-left: 1em;
}

code {
    padding: 0.1em 0.2em;
    font-size: 12pt;
}

pre {
    overflow: auto;
    padding: 0.3em;

    code {
        padding: 0;
    }
}

.footnote-definition {
    margin-top: 1em;

    font-size: 75%;

    p {
        display: inline;
    }
}

.footnotes {
    margin-top: 4em;
}

.footnotes-list {
    font-size: 75%;
}

table {
    border-spacing: 0;

    th, td {
        border-width: 1px;
        border-style: solid;
        border-left-style: none;
        padding: 0.2em;

        &:first-child {
            border-left-width: 1px;
            border-left-style: solid;
        }
    }

    th {
        border-top-width: 1px;
        border-top-style: solid;
    }

    td {
        border-top-style: none;
    }
}

@media all and (max-width: 1200px) {
    body {
        padding: 3em 15%;
    }
}

@media all and (max-width: 800px) {
    body {
        padding: 1em 1em;
    }
}
