{% extends "page.html" %}

{% block title %}{{ config.title }} | {{ section.title }}{% endblock title %}

{% block content %}
<main>
    <h1>{{ section.title }}</h1>
    {% if section.content %}
    <div class="space">
        {{ section.content | safe }}
    </div>
    {% endif %}

    {% if section.pages %}
    {% set posts = section.pages | reverse %}
    {% if not section.extra.disable_dates %}
    {% set posts = section.pages | sort(attribute="date") | reverse %}

    {% endif %}
    {% for post in posts %}
    <ul>
        <li>{% if not section.extra.disable_dates %}{{ post.date  }}{% endif %} <a
                href="{{ post.permalink }}">{{ post.title }}</a></li>
    </ul>
    {% endfor %}
    {% else %}
    <p>No posts yet.</p>
    {% endif %}
</main>
{% endblock content %}